<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hire Now - Title</title>
        
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google fonts - inter font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- custom css -->
    <link rel="stylesheet" href="../templates/templates.css">
</head>
<body>
    <section class = "templates py-8 bg-secondary">
        <div class = "container">
            <div class = "row section-title text-center mb-5">
                <div class = "col-12">
                    <h2 class = "display-6 text-blue fw-bold">Here are the Best Templates for you</h2>
                    <p class = "text-grey fs-4 my-4 mx-auto">A great job application leads to a good interview. An amazing resume is what makes it all possible.</p>
                </div>
            </div>

            <div class = "row templates-list gy-5 gx-lg-5">
                <div class = "templates-item position-relative col-lg-6">
                    <div class = "template-item-img mx-auto me-lg-0 position-relative">
                        <img src = "../images/image.png" alt = "" class = "img-fluid">
                        <a href = "../resume.html" class = "btn btn-lg btn-primary position-absolute choose-template-btn">Select Template</a>
                    </div>
                </div>

                <div class = "templates-item position-relative col-lg-6">
                    <div class = "template-item-img mx-auto ms-lg-0 position-relative">
                        <img src = "../images/images.png" alt = "" class = "img-fluid">
                        <a href = "../resume2.html" class = "btn btn-lg btn-primary position-absolute choose-template-btn">Select Template</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>